# The releng team is by default the owner of everything.
*             @eclipse-dataspace-protocol-base/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-dataspace-protocol-base/eclipsefdn-security
